
<ion-content padding>
    <ion-card *ngIf="favoriteMovies && favoriteMovies.length; else noFavorite">
      <ion-list>
        <ion-list-header class="my-movies-header">Favorite Movies</ion-list-header>
        <ion-item *ngFor="let movie of favoriteMovies" (click)="goToMovieDetails(movie)">
          <ion-row >
            <ion-col col-1>
              <ion-icon name="star"></ion-icon>
            </ion-col>
            <ion-col col-7 text-wrap>
              <h5>{{movie.title}}</h5>
            </ion-col>
            <ion-col col-2>
              <h5>{{movie.release_date}}</h5>
            </ion-col>
            <ion-col col-3>
              <ion-badge color="primary">{{movie.vote_average}}</ion-badge>
            </ion-col>
          </ion-row>
        </ion-item>
      </ion-list>
      <ion-card-content>
        <p>To choose more movies, click on this button.</p>
        <button icon-left ion-button full (click)="goToMoviesList()">
          <ion-icon name="search"></ion-icon>
          Find a movie
        </button>
      </ion-card-content>
    </ion-card>
 
    <ng-template #noFavorite>
      <ion-card>
        <ion-card-content>
          <p>You haven’t selected any movie</p>
          <p>Please select one by using the button below</p>
          <button ion-button icon-left full (click)="goToMoviesList()">
            <ion-icon name="search"></ion-icon>
            Find a movie
          </button>
        </ion-card-content>
      </ion-card>
    </ng-template>
 
  </ion-content>